body {
	font-family: "Playfair Display";
	font-size: 1.25em;
	color: black;
	background-color: white;
	opacity: 0.9;
	text-align: center;
	position: relative;
}

h1 {
	font-size: 2.5em;
	font-weight: lighter;
}

h2 {
	font-size: 2em;
	font-weight: lighter;
}

h3 {
	font-size: 1.25em;
	font-weight: lighter;
}

a {
	color: black;
}

.header {
	width: 100%;
	height: 4.5em;
	top: 0px;
	border-bottom: 1px solid black;
}

#mariage {
	background-image: url('tournesol.jpg');
	background-size: 70%;
	background-position: center;
}

.button {
	height: 3em;
	width: 7em;
	background-color: black;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	text-decoration-line: none;
	display: inline-block;
	font-size: 1em;
	font-family: "Cormorand Garamont";
}


.button a {
	color: white;
	text-decoration-line: none;
}

.button:hover {
	color: black;
	background-color: white;
	transition: 0.7s;
}

.button a:hover {
	color: black;
	text-decoration-line: none;
	transition: 0.7s;
}


#separator img {
	width: 100%;
	height: 20em;
	object-fit: cover;
	padding-top: 1.5em;
}

#localisation-container {
	padding: 1em 8em 1em;
	display: flex;
	flex-wrap: wrap;
	vertical-align: middle;
	justify-content: center;
}

.localisation {
	display: inline-flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	vertical-align: middle;
}

.localisation-texte {
	margin-top: 2em;
}

.localisation-map {
 height: 20em;
 width: 25em;
 padding-left: 8em;
}

#liste-de-mariage {
	padding-left: 8em;
	padding-right: 8em;
	padding-bottom: 3em;
}

#end{
	position: relative;
	height: 32em;
}

.end-text {
	position: absolute;
	z-index: 1;
	left: 20%;
	top: 10em;
	background-color: lightgrey;
	width: 30%;
	padding: 1em;
	margin-bottom: 1em;
}

.end-text h3 {
	font-size: 1.25em;
	font-weight: lighter;
}

.end-image {
	position: absolute;
	z-index: -1;
	left: 30%;
	width: 60%;
}

.end-image img {
	width: 60%;
	height: auto;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3em;
}


@media only screen and (min-width: 501px) and (max-width: 840px) {

body {
	width: 100%;
  min-width: 100%;
  font-size: 1em;
}

.button {
	height: 2em;
	width: 5em;
	}

.localisation-map {
 height: 10em;
 width: 10em;
 padding-left: 1em;
}

.end-image {
	width: 90%;
	height: auto;
	left: 20%;
	}

}

@media only screen and (max-width: 500px) {

body {
	width: 100%;
  min-width: 100%;
  font-size: 1em;
}

.header {
	height: 3em;
}

.button {
	height: 2em;
	width: 5em;
	}

#separator img {
	height: 12em;
	object-fit: cover;
}

.localisation-map {
 height: 10em;
 width: 10em;
 padding-left: 0em;
}

#end{
	height: 24em;
}

.end-image {
	width: 100%;
	height: auto;
	left: 10%;
	}

.end-image img {
	width: 65%;
	height: auto;
}

.end-text {
	left: 6%;
	top: 3em;
	background-color: lightgrey;
	width: 40%;
	padding: 0.4em;
}

.end-text h3 {
	font-size: 0.9em;
}

h1 {
	font-size: 2em;
	font-weight: lighter;
}

h2 {
	font-size:1.4em;
	font-weight: lighter;
}

h3 {
	font-size: 1em;
	font-weight: lighter;
}

#localisation-container {
	padding: 1em 3em 1em;
}

#liste-de-mariage {
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 1em;
}

}
	